body {
  background-color: #8800FF;
}

#main-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

#main-page{
  position: absolute;
  height: 300px;
  width: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  text-align: center;
  line-height: 150px;
  border-radius: 10px;
  font-size: 4em;
  font-family: Arial, Fantasy;
}

#main-page:hover {
  border: 4px solid #FFFF00;
  top: calc(50% - 154px);
  left: calc(50% - 154px);
  box-shadow: 10px 10px 2px 5px #6600CC;
}

#cmd-main-page {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #7700EE;
  box-shadow: 5px 5px 2px 2px #6600CC;
}

#cmd-main-page:hover {
  background-color: #7700DD;
}

.about-menu {
  margin: 0px 10px;
  box-shadow: 5px 5px 2px 2px #6600CC;
  background-color: #7700EE;
  padding: 10px;
}

.cmd-burger {
  position:fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
}

.cmd-burger>div,
.cmd-burger>div::before,
.cmd-burger>div::after {
  position: relative;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #FFFFFF;
}
.cmd-burger>div::before {
  top: -10px;
  content: " ";
  animation: burger-cmd-unactivate-before 500ms;
}
.cmd-burger>div {
  top: 10px;
  animation: burger-cmd-unactivate 500ms;
}
.cmd-burger>div::after {
  top: 6px;
  content: " ";
  animation: burger-cmd-unactivate-after 500ms;
}

#cmd-burger {
  display: none;
}

#cmd-burger:checked~.cmd-burger>div::before {
  top: 2px;
  transform: rotate(45deg);
  animation: burger-cmd-activate-before 500ms;
}

#cmd-burger:checked~.cmd-burger>div{
  background: none;
  animation: burger-cmd-activate 500ms;
}

#cmd-burger:checked~.cmd-burger>div::after {
  top: -2px;
  transform: rotate(-45deg);
  animation: burger-cmd-activate-after 500ms;
}

@keyframes burger-cmd-activate-before {
  0% {
    top: -10px;
    transform: rotate(0deg);
  }
  50% {
    top: 2px;
    transform: rotate(0deg);
  }
  100% {
    top: 2px;
    transform: rotate(45deg);
  }
}

@keyframes burger-cmd-activate {
  0% {
    background: inherit;
  }
  50% {
    background: inherit;
  }
  100% {
    background: none;
  }
}

@keyframes burger-cmd-activate-after {
  0% {
    top: 10px;
    transform: rotate(0deg);
  }
  50% {
    top: -2px;
    transform: rotate(0deg);
  }
  100% {
    top: -2px;
    transform: rotate(-45deg);
  }
}

@keyframes burger-cmd-unactivate-before {
  0% {
    top: 2px;
    transform: rotate(45deg);
  }
  50% {
    top: 2px;
    transform: rotate(0deg);
  }
  100% {
    top: -10px;
    transform: rotate(0deg);
  }
}

@keyframes burger-cmd-unactivate {
  0% {
    background: none;
  }
  50% {
    background: inherit;
  }
  100% {
    background: inherit;
  }
}

@keyframes burger-cmd-unactivate-after {
  0% {
    top: -2px;
    transform: rotate(-45deg);
  }
  50% {
    top: -2px;
    transform: rotate(0deg);
  }
  100% {
    top: 10px;
    transform: rotate(0deg);
  }
}

.about-menu>li {
  margin: 0px 10px;
  padding: 5px;
}

@media (min-width: 800px) {
  .about-menu {
    text-align: right;
  }

  .cmd-burger {
    display: none;
  }

  .about-menu>li {
    display: inline;
  }
}

@media (max-width: 800px) {
  .about-menu {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 100px;
    list-style-type: none;
    z-index: 3;
    animation: burger-menu-activate 500ms;
  }
  #cmd-burger:not(:checked)~.about-menu{
    right: -200px;
    animation: burger-menu-unactivate 500ms;
  }

}

@keyframes burger-menu-activate {
  0% {
    right: -200px;
  }
  100%{
    right: 20px;
  }
}

@keyframes burger-menu-unactivate {
  0% {
    right: 20px;
  }
  100%{
    right: -200px;
  }
}

.about-menu>:hover {
  background-color: #6600CC;
}

.about-menu>.cmd-current {
  background-color: #6600CC;
  box-shadow: 3px 3px 1px 1px #6600BB;
}

#about-wrapper {
  position: relative;
  margin: 20px 20px;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

#sites-page>a {
  position: relative;
  display: block;
  top: 0px;
  left: 37.5%;
  width: 25%;
  height: 25%;
  min-width: 200px;
  min-height: 150px;
}

@media (max-width: 800px) {
  #sites-page>a {
    left: calc(50% - 100px);
  }
}

.iframe-link {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
}

.iframe-preview {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 400%;
  width: 400%;
  transform: scale(0.25, 0.25);
  transform-origin: 0% 0%;
  pointer-events: none;
  background-color: #FFFFFF;
}

@keyframes hover-main-page {
  0% {
    border: 0px solid #FFFF00;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    box-shadow: 0px 0px 2px 0px #6600CC;
  }
  100% {
    border: 4px solid #FFFF00;
    top: calc(50% - 154px);
    left: calc(50% - 154px);
    box-shadow: 10px 10px 2px 5px #6600CC;
  }
}

@keyframes unhover-main-page {
  0% {
    border: 4px solid #FFFF00;
    top: calc(50% - 154px);
    left: calc(50% - 154px);
    box-shadow: 10px 10px 2px 5px #6600CC;
  }
  100% {
    border: 0px solid #FFFF00;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    box-shadow: 0px 0px 2px 0px #6600CC;
  }
}
